.actu, .notredemarche, .nosinstallation, .temoignage {
  font-family: $LatoRegular;
  display: flex;
  img {
    max-width: 90%;
    height: auto;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  p {
    width: 100%;
  }
  .content {
    margin-top: 40px;
    .svg {
      text-align: right;
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
.nosinstallation {
  background-image: url("../images/points.svg");
}

.notredemarche, .nosinstallation, .temoignage {
  color : $gris;
  margin-top: 20px;
}

.actu-box, .demarche-box, .installation-box, .temoignage-box {
  width: 90%;
  margin: 0 auto;
}

.actu {
  color : $blanc;
  background-color: $orange;
}

.notredemarche {
  background-color: $vert;
}

.temoignage {
  background-color: $beige;
  margin-bottom: 20px;
}

.bt {
  background-color: $gris;
  padding: 8px;
  text-align: center;
  border-radius: 14px;
  margin: 20px auto;
  width: 360px;
  a {
    color: $blanc;
    font-size: 24px;
  }
}