footer {
  background-color: $gris;
  padding-bottom: 50px;
  img {
    width: 30px;
    margin-right: 23px;
    //Filtre noir et blanc
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}
.text-footer {
  text-align: center;
  color: $blanc;
  font-family: $LatoRegular;
  margin-top: 14px;
  margin-bottom: 20px;
  input {
    width: 300px;
  }
}
.partenaire {
  margin-top: 40px;
  color: $blanc;
}